backend/vendor/
frontend/binance-frontend/node_modules/
frontend/binance-frontend/public/
frontend/binance-frontend/src/assets/
frontend/binance-frontend/src/components/
pkg/
idea/
docker-compose.yml
.env
Dockerfile
.dockerignore
Makefile